In [3]:
#** apply lower() and remove punctuation **
import re
def removePunctuation(text):
    """Removes punctuation, changes to lowercase, and strips leading and trailing spaces.
    Note:
        Only spaces, letters, and numbers should be retained.  Other characters should should be
        eliminated. (e.g. it's becomes its)
    Args:
        text (str): A string.
    Returns:
        str: The cleaned up string.
    """
    return re.sub('[^a-z| |0-9]', '', text.strip().lower())
print removePunctuation("The Elephant's 4 cats. ")

the elephants 4 cats

In [4]:
#count frequency of words in book 2
book2words = sc.textFile("file:/home/training/Desktop/Harry_Potter/book2-Harry Potter And The Chamber Of Secrets.txt").flatMap(lambda line: line.strip().split(" ")).filter(lambda x: x != '')
#apply punctuaion & lower function
book2words = book2words.map(removePunctuation)
#remove punctuation
print book2words.take(5)

#map to key-value pair
book2words_1 = book2words.map(lambda word : (word,1))
print book2words_1.take(5)

[u'chapter', u'one', u'the', u'worst', u'birthday']
[(u'chapter', 1), (u'one', 1), (u'the', 1), (u'worst', 1), (u'birthday', 1)]

In [42]:
#count frequency of words in book 3
book3words = sc.textFile("file:/home/training/Desktop/Harry_Potter/Book3.Harry Potter and the Prisoner of Azkaban.txt").flatMap(lambda line: line.strip().split(" ")).filter(lambda x: x != '')
#apply punctuaion & lower function
book3words = book3words.map(removePunctuation)
#remove punctuation
print book3words.take(5)

#map to key-value pair
book3words_1 = book3words.map(lambda word : (word,1))
print book3words_1.take(5)

#####

#count frequency of words in book 4
book4words = sc.textFile("file:/home/training/Desktop/Harry_Potter/Book4-Harry Potter and the Goblet of Fire.txt").flatMap(lambda line: line.strip().split(" ")).filter(lambda x: x != '')
#apply punctuaion & lower function
book4words = book4words.map(removePunctuation)
#remove punctuation
print book4words.take(5)

#map to key-value pair
book4words_1 = book4words.map(lambda word : (word,1))
print book4words_1.take(5)

####

#count frequency of words in book 5
book5words = sc.textFile("file:/home/training/Desktop/Harry_Potter/5.Harry Potter and the Order of the Phoenix.txt").flatMap(lambda line: line.strip().split(" ")).filter(lambda x: x != '')
#apply punctuaion & lower function
book5words = book5words.map(removePunctuation)
#remove punctuation
print book5words.take(5)

#map to key-value pair
book5words_1 = book5words.map(lambda word : (word,1))
print book5words_1.take(5)

###

#count frequency of words in book 6
book6words = sc.textFile("file:/home/training/Desktop/Harry_Potter/Book6-Harry Potter and the Half-Blood Prince.txt").flatMap(lambda line: line.strip().split(" ")).filter(lambda x: x != '')
#apply punctuaion & lower function
book6words = book6words.map(removePunctuation)
#remove punctuation
print book6words.take(5)

#map to key-value pair
book6words_1 = book6words.map(lambda word : (word,1))
print book6words_1.take(5)

####

#count frequency of words in book 7
book7words = sc.textFile("file:/home/training/Desktop/Harry_Potter/Book7-Harry Potter and the Deathly Hallows.txt").flatMap(lambda line: line.strip().split(" ")).filter(lambda x: x != '')
#apply punctuaion & lower function
book7words = book7words.map(removePunctuation)
#remove punctuation
print book7words.take(5)

#map to key-value pair
book7words_1 = book7words.map(lambda word : (word,1))
print book7words_1.take(5)

[u'one', u'owl', u'post', u'harry', u'potter']
[(u'one', 1), (u'owl', 1), (u'post', 1), (u'harry', 1), (u'potter', 1)]
[u'chapter', u'one', u'', u'the', u'riddle']
[(u'chapter', 1), (u'one', 1), (u'', 1), (u'the', 1), (u'riddle', 1)]
[u'harry', u'potter', u'and', u'the', u'order']
[(u'harry', 1), (u'potter', 1), (u'and', 1), (u'the', 1), (u'order', 1)]
[u'chapter', u'1', u'the', u'other', u'minister']
[(u'chapter', 1), (u'1', 1), (u'the', 1), (u'other', 1), (u'minister', 1)]
[u'chapter', u'one', u'the', u'dark', u'lord']
[(u'chapter', 1), (u'one', 1), (u'the', 1), (u'dark', 1), (u'lord', 1)]

In [5]:
#reduceByKey() operates by applying the function first within each partition on a per-key basis and then across the partitions, allowing it to scale efficiently to large datasets.
book2words_1_agg = book2words_1.reduceByKey(lambda a,b : a+b)
print book2words_1_agg.take(5)

[(u'', 1333), (u'writings', 1), (u'foul', 9), (u'four', 23), (u'rocketing', 1)]

In [43]:
#reduceByKey() operates by applying the function first within each partition on a per-key basis and then across the partitions, allowing it to scale efficiently to large datasets.
book3words_1_agg = book3words_1.reduceByKey(lambda a,b : a+b)
print book3words_1_agg.take(5)

#reduceByKey() operates by applying the function first within each partition on a per-key basis and then across the partitions, allowing it to scale efficiently to large datasets.
book4words_1_agg = book4words_1.reduceByKey(lambda a,b : a+b)
print book4words_1_agg.take(5)

#reduceByKey() operates by applying the function first within each partition on a per-key basis and then across the partitions, allowing it to scale efficiently to large datasets.
book5words_1_agg = book5words_1.reduceByKey(lambda a,b : a+b)
print book5words_1_agg.take(5)

#reduceByKey() operates by applying the function first within each partition on a per-key basis and then across the partitions, allowing it to scale efficiently to large datasets.
book6words_1_agg = book6words_1.reduceByKey(lambda a,b : a+b)
print book6words_1_agg.take(5)

#reduceByKey() operates by applying the function first within each partition on a per-key basis and then across the partitions, allowing it to scale efficiently to large datasets.
book7words_1_agg = book7words_1.reduceByKey(lambda a,b : a+b)
print book7words_1_agg.take(5)

[(u'', 1166), (u'raining', 1), (u'both', 60), (u'yellow', 9), (u'four', 14)]
[(u'', 4633), (u'yellow', 12), (u'four', 56), (u'rocketing', 1), (u'woods', 10)]
[(u'', 8614), (u'raining', 4), (u'disparagingly', 2), (u'both', 123), (u'foul', 12)]
[(u'', 3877), (u'hordes', 1), (u'both', 113), (u'yellow', 12), (u'four', 36)]
[(u'', 1774), (u'raining', 7), (u'yellow', 11), (u'four', 36), (u'woods', 7)]

In [44]:
# count all words & distinct words - book 2
print book2words.count()
print book2words.distinct().count()

# count all words & distinct words - book3
print book3words.count()
print book3words.distinct().count()

# count all words & distinct words - book4
print book4words.count()
print book4words.distinct().count()

# count all words & distinct words - book5
print book5words.count()
print book5words.distinct().count()

# count all words & distinct words - book6
print book6words.count()
print book6words.distinct().count()

# count all words & distinct words - book7
print book7words.count()
print book7words.distinct().count()

86420
7171
106073
7751
195634
10805
266418
13100
175799
11833
199348
11883

In [21]:
import pandas as pd

In [45]:
#count specific words - turn to dataframe
book2df = pd.DataFrame(book2words_1_agg.collect())

#count specific words - turn to dataframe
book3df = pd.DataFrame(book3words_1_agg.collect())

#count specific words - turn to dataframe
book4df = pd.DataFrame(book4words_1_agg.collect())

#count specific words - turn to dataframe
book5df = pd.DataFrame(book5words_1_agg.collect())

#count specific words - turn to dataframe
book6df = pd.DataFrame(book6words_1_agg.collect())

#count specific words - turn to dataframe
book7df = pd.DataFrame(book7words_1_agg.collect())

In [23]:
#count - name columns - book2
book2df.columns = ['word','count']
book2df.head()

      word  count
0            1774
1  raining      7
2   yellow     11
3     four     36
4    woods      7

In [24]:
#count - name columns - book3
book3df.columns = ['word','count']
book3df.head()

      word  count
0            1166
1  raining      1
2     both     60
3   yellow      9
4     four     14

In [25]:
#count - name columns - book4
book4df.columns = ['word','count']
book4df.head()

        word  count
0              4633
1     yellow     12
2       four     56
3  rocketing      1
4      woods     10

In [48]:
#count - name columns - book5
book5df.columns = ['word','count']
book5df.head()

            word  count
0                  8614
1        raining      4
2  disparagingly      2
3           both    123
4           foul     12

In [27]:
#count - name columns - book6
book6df.columns = ['word','count']
book6df.head()

     word  count
0           3877
1  hordes      1
2    both    113
3  yellow     12
4    four     36

In [28]:
#count - name columns - book7
book7df.columns = ['word','count']
book7df.head()

      word  count
0            1774
1  raining      7
2   yellow     11
3     four     36
4    woods      7

In [41]:
#book 2
print book2df[(book2df['word'] == ('harry')) | (book2df['word'] =='ron')|(book2df['word']=='hermione') \
              | (book2df['word']=='hagrid')|(book2df['word']=='malfoy') | (book2df['word']=='snape') \
              |(book2df['word']=='dumbledore') | (book2df['word']== 'voldemort') | (book2df['word']=='hogwarts')\
              | (book2df['word']=='azkaban') |(book2df['word']=='accio') | (book2df['word']== 'expelliarmus')\
              |(book2df['word']== 'stupefy') | (book2df['word']== 'lumos') |(book2df['word']== 'imperio')\
              | (book2df['word']== 'crucio') |(book2df['word']== 'avada') | (book2df['word']== 'kedavra')]

              word  count
505          snape     85
704      voldemort     20
881          harry   1508
1449      hogwarts     91
1553         lumos      2
1564    dumbledore    141
2692      hermione    290
2999        malfoy    203
5032       azkaban      9
6249  expelliarmus      3
6270           ron    653
6794        hagrid    133

In [40]:
#book 3
print book3df[(book3df['word'] == ('harry')) | (book3df['word'] =='ron')|(book3df['word']=='hermione') \
              | (book3df['word']=='hagrid')|(book3df['word']=='malfoy') | (book3df['word']=='snape') \
              |(book3df['word']=='dumbledore') | (book3df['word']== 'voldemort') | (book3df['word']=='hogwarts')\
              | (book3df['word']=='azkaban') |(book3df['word']=='accio') | (book3df['word']== 'expelliarmus')\
              |(book3df['word']== 'stupefy') | (book3df['word']== 'lumos') |(book3df['word']== 'imperio')\
              | (book3df['word']== 'crucio') |(book3df['word']== 'avada') | (book3df['word']== 'kedavra')]

              word  count
286          lumos      3
593          snape    206
834      voldemort     36
1010         harry   1824
1638      hogwarts     87
1765    dumbledore    146
2953      hermione    603
3253        malfoy    146
5464       azkaban     46
6773  expelliarmus      3
7027           ron    689
7351        hagrid    206

In [39]:
#book 4
print book4df[(book4df['word'] == ('harry')) | (book4df['word'] =='ron')|(book4df['word']=='hermione') \
              | (book4df['word']=='hagrid')|(book4df['word']=='malfoy') | (book4df['word']=='snape') \
              |(book4df['word']=='dumbledore') | (book4df['word']== 'voldemort') | (book4df['word']=='hogwarts')\
              | (book4df['word']=='azkaban') |(book4df['word']=='accio') | (book4df['word']== 'expelliarmus')\
              |(book4df['word']== 'stupefy') | (book4df['word']== 'lumos') |(book4df['word']== 'imperio')\
              | (book4df['word']== 'crucio') |(book4df['word']== 'avada') | (book4df['word']== 'kedavra')]

               word  count
117           accio      8
397           lumos      4
775           snape    209
1093      voldemort    184
1351          harry   2930
1507        imperio      1
2245       hogwarts    186
2415     dumbledore    530
3334        stupefy      9
4052       hermione    825
4350        kedavra      8
4477         malfoy    119
4804         crucio      5
7583        azkaban     40
8043          avada      9
9420   expelliarmus      3
9770            ron    980
10232        hagrid    325

In [49]:
#book 5
print book5df[(book5df['word'] == ('harry')) | (book5df['word'] =='ron')|(book5df['word']=='hermione') \
              | (book5df['word']=='hagrid')|(book5df['word']=='malfoy') | (book5df['word']=='snape') \
              |(book5df['word']=='dumbledore') | (book5df['word']== 'voldemort') | (book5df['word']=='hogwarts')\
              | (book5df['word']=='azkaban') |(book5df['word']=='accio') | (book5df['word']== 'expelliarmus')\
              |(book5df['word']== 'stupefy') | (book5df['word']== 'lumos') |(book5df['word']== 'imperio')\
              | (book5df['word']== 'crucio') |(book5df['word']== 'avada') | (book5df['word']== 'kedavra')]

               word  count
142           accio     10
494           lumos      3
983           snape    319
1352      voldemort    161
1678          harry   3758
2742       hogwarts    155
2952     dumbledore    568
3048          avada      4
3134   expelliarmus      7
3166         crucio      4
4094        stupefy      7
4954       hermione   1223
5323        kedavra      3
9192        azkaban     42
11421        malfoy    186
11842           ron   1191
12408        hagrid    398

In [37]:
#book 6
print book6df[(book6df['word'] == ('harry')) | (book6df['word'] =='ron')|(book6df['word']=='hermione') \
              | (book6df['word']=='hagrid')|(book6df['word']=='malfoy') | (book6df['word']=='snape') \
              |(book6df['word']=='dumbledore') | (book6df['word']== 'voldemort') | (book6df['word']=='hogwarts')\
              | (book6df['word']=='azkaban') |(book6df['word']=='accio') | (book6df['word']== 'expelliarmus')\
              |(book6df['word']== 'stupefy') | (book6df['word']== 'lumos') |(book6df['word']== 'imperio')\
              | (book6df['word']== 'crucio') |(book6df['word']== 'avada') | (book6df['word']== 'kedavra')]

               word  count
139           accio      3
449           lumos      3
897           snape    338
1497          harry   2617
2650     dumbledore    885
2854         crucio      2
3008       hogwarts    137
3693        stupefy      1
3707       hermione    658
4797        kedavra      3
4940         malfoy    329
7359      voldemort    197
8866          avada      2
10345  expelliarmus      2
10620       azkaban     24
10732           ron    799
11227        hagrid    190

In [36]:
#book 7
print book7df[(book7df['word'] == ('harry')) | (book7df['word'] =='ron')|(book7df['word']=='hermione') \
              | (book7df['word']=='hagrid')|(book7df['word']=='malfoy') | (book7df['word']=='snape') \
              |(book7df['word']=='dumbledore') | (book7df['word']== 'voldemort') | (book7df['word']=='hogwarts')\
              | (book7df['word']=='azkaban') |(book7df['word']=='accio') | (book7df['word']== 'expelliarmus')\
              |(book7df['word']== 'stupefy') | (book7df['word']== 'lumos') |(book7df['word']== 'imperio')\
              | (book7df['word']== 'crucio') |(book7df['word']== 'avada') | (book7df['word']== 'kedavra')]

               word  count
123           accio     12
416           lumos      6
858           snape    252
1210      voldemort    358
1496          harry   2886
1657        imperio      5
2474       hogwarts    133
2666     dumbledore    483
2749          avada      8
2828   expelliarmus      8
2857         crucio      4
3709        stupefy      9
4503       hermione   1111
4821        kedavra      7
8355        azkaban     17
8678         malfoy     71
9573            ron   1066
11250        hagrid    151

In [13]:
from pyspark import SparkConf, SparkContext
from pyspark import sql
sqlContext = sql.SQLContext(sc)

In [14]:
#use SQl to create DataFrame and do the same count
sfpdDF2 = sqlContext.createDataFrame(book2words_1_agg, ["word", "count"])

In [15]:
sfpdDF2.printSchema()
sfpdDF2.show(30)

root
 |-- word: string (nullable = true)
 |-- count: long (nullable = true)

word            count
                1333
writings        1
foul            9
four            23
rocketing       1
woods           4
spiders         38
hanging         22
conjuring       1
marching        5
wizardry        7
fingernails     4
sputter         1
lord            21
flicking        2
sinking         6
shielding       1
reconstructions 1
yellow          6
screaming       3
wooden          7
wednesday       3
piling          2
succession      1
reliable        1
glassy          2
specially       2
tired           8
bacon           5
elegant         1

In [17]:
#count harry
descDF2 = sfpdDF2.filter(sfpdDF2.word == 'harry')
descDF2.show()

word  count
harry 1508